.todolists {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.todos-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  h2 {
    font-size: 2rem;
  }
}
.todos-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;

  .button {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    background-color: #de77e5; /* синий */
    transition: background-color 0.2s ease, transform 0.1s ease;

    &:hover {
      background-color: #d63cff;
    }
  }
}
.input {
  width: 300px;
  border: 2px solid black;
  padding: 10px;
}
