.notification {
  position:  fixed;
  top:  125px;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: calc(var(--z-index) + 10);

  .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
    line-height: 14px;

    width: 420px;
    margin-top: 20px;
    padding: 11px 13px;

    color: #FFFFFF;
    border-radius: 2px;
    background-color: gray;

    &--success {
      background-color: #bbfdbb;
    }
    &--error {
      background-color: #f1a0a0;
    }
  }
}