<div class="box">
  @if (isEditMode) {
    <input type="text" [(ngModel)]="newTitle" (blur)="editTitleHandler()"/>
  } @else {
    <h3 (dblclick)="activateEditModeHandler()" >
      {{todolist()!.title}}
    </h3>
  }
    @if (todolist().id) {
    <tl-tasks [todolistId]="todolist().id"/>
    }
    <tl-todo-filters [filter]="todolist().filter" (changeFilterEvent)="changeFilter($event)"/>
    <tl-todo-footer [addedDate]="todolist().addedDate"/>
  <button type="button" (click)="removeTodolist()">Delete</button>
</div>
