.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  input {
    &:checked {
     & + span {
        opacity: .5;
        text-decoration: line-through;
      }
    }

  }
}