.navigation {
  display: flex;
  gap: .1rem;

  a {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    background-color: #de77e5; /* синий */
    transition: background-color 0.2s ease, transform 0.1s ease;

    &:hover {
      background-color: #d63cff;
    }

    &.active {
      background-color: #ea05f3;
      transform: translateY(1px);

      //color: orangered;
      //font-weight: bold;
    }

  }
}
