.box {
  width: 300px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.alert {
  color: brown;
}
.error {
  color: red;
}
.inputError {
  border: 2px solid #ff2409;
  background-color: aqua;
  border-radius: 2px;
}

.inputSuccess {
  border: 2px solid #49d328;
  background-color: #efde03;
  border-radius: 2px;
}