.users {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.user {
  display: flex;
  padding: 10px;
  width: 30%;
  gap: 10px;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  &-name {
  font-size: 1.5rem;
  }
}
.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
